body {
  margin: 0;
  background-color: rgb(220, 247, 247);
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-title {
  display: flex;
  gap: 0.5em;
  color: rgb(8, 64, 72);
  font-weight: 500;
  font-size: 1.5rem;
}
.logo {
  height: 50px;
  margin: auto 0 auto 0.5em;
}
.settings {
  color: rgb(25, 205, 204);
  font-size: 1.5rem;
  margin-right: 1em;
  cursor: pointer;
}
h1 {
  color: rgb(8, 35, 37);
  text-align: center;
}
input {
  padding: 1em;
  font-size: 16px;
}
.login-btn {
  background-color: rgb(0, 164, 182);
  color: white;
  margin: 0 auto;
  padding: 1em;
  border: none;
  border-radius: 25px;
  width: 100%;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1rem;
}
.login-form {
  margin: auto 0;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-selector {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 350px;
}
.day-selector h1 {
  margin: auto 0;
}
.day-selector button {
  margin: 0 0;
  border-radius: 5em;
  border: none;
  color: rgb(0, 164, 182);
  background: none;
  cursor: pointer;
}
.day-selector button:disabled {
  color: rgba(0, 164, 182, 0.5);
}
.time-index {
  height: 200px;
  font-size: 1.25rem;
  /* margin: 0 auto; */
  max-width: 100%;
  display: flex;
  justify-content: stretch;
}
.color-changer-container {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 300px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 0 0 2em 0;
}
.color-changer {
  margin: auto auto;
}
.choose-color {
  display: grid;
  column-gap: 0.5em;
  row-gap: 0.5em;
  grid-template-columns: auto auto auto;
  margin: 2.5em 0;
}
.color-btns-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0 1em;
}
.color-btns-container button {
  font-size: 1rem;
  margin-top: -1.5em;
  background: rgb(0, 164, 182);
  border: none;
  color: white;
  padding: 1em 1.5em;
  border-radius: 5em;
}
.timePanel-container {
  width: 100vw;
  position: absolute;
}
@media screen and (min-width: 700px) {
  .content {
    margin: 0 2em;
  }

  .appointments {
    background: white;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 0.5em; */
    padding: 0 0.5em;
    flex-grow: 1;
  }
  .appointment-container {
    background: white;
    display: flex;
    /* justify-content: space-between; */
  }
  .appointment {
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 0.5em;
  }
  .appointmentMini p {
    line-height: 0;
    margin-top: 7px;
  }
  .appointmentMini {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0.025em 0;
    padding: 0 0.5em;
  }
  .time-panel {
    margin: 0 auto;
    width: 650px;
  }
  .time-panel p {
    margin-top: -10px;
    margin-left: -50px;
  }

  .opt-2-container {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  .appointmentsMini {
    padding: 0 0em;
    width: 85vw;
    margin-left: auto;
  }
}
@media screen and (max-width: 700px) {
  .content {
    margin: 0;
  }
  .opt-1-container {
    margin: 0 2.5em;
    margin-left: em;
  }
  .opt-2-container {
    margin: 0 2.5em;
    margin-left: em;
  }
  h1 {
    font-size: 1rem;
  }
  .day-selector {
    margin: 0 auto;
    padding: 0;
    width: 65%;
  }
  .day-selector button {
    margin: 0;
    padding: 0 0;
  }
  .day-selector h1 {
    font-size: 0.9rem;
    margin: auto 0;
    padding: 0;
  }
  .color-changer-container {
    width: 70%;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  .logo-title img {
    height: 35px;
    /* margin: auto 0 auto 0.5em; */
  }
  .logo-title p {
    font-size: 0.85rem;
  }
  .login-container h1 {
    font-size: 2rem;
    color: rgba(0, 164, 182, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .total-container {
    background: white;
    padding-top: 0.01em;
    max-width: 100vw;
    margin: 0 auto;
  }
  .appointment {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* border-radius: 5px; */
    font-size: 0.75rem;
    margin: 0 -1.25em 0 2.25em;
    padding: 0 0.5em;
  }
  .appointments {
    width: 85vw;
    margin-left: auto;
  }
  .appointmentsMini {
    padding: 0 0em;
    width: 85vw;
    margin-left: auto;
  }
  .appointment-container {
    padding: 0;
    margin: 0;
    width: 85vw;
  }
  .time-panel {
    margin: -1px 0.5em 0 6vh;
  }
  .time-panel p {
    margin-left: -5vh;
    line-height: 0;
    margin-top: -0.01rem;
  }
  .appointmentMini p {
    line-height: 0;
    margin-top: 7px;
  }
  .appointmentMini {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 -1.25em 0 2.25em;
    padding: 0 0.5em;
  }
}
.types-color {
  box-shadow: inset -5px 0px 2px rgba(0, 0, 0, 0.1),
    inset 5px 0px 2px rgba(0, 0, 0, 0.1);
}
.types-color::-webkit-scrollbar {
  display: none;
}
.type-selector {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.25em 1em;
}
.type-selector button {
  margin: auto 0;
  border-radius: 5em;
  border: none;
  color: rgb(0, 164, 182);
  background: none;
  cursor: pointer;
}
.type-selector button:disabled {
  color: rgba(0, 164, 182, 0.25);
}
.total-container {
  background: white;
  padding-top: 0.01em;
  max-width: 550px;
  margin: 0 auto;
}
